body {
  background-image: url(\assets\images\minimal-map.png);
}

.jumbotron {
  font-family: 'Pontano Sans', serif;
  background-color: white;
  font-size: 48px;
  text-align: center;
  background-position: center;
}

.panel-body {
  font-family: 'Pontano Sans', serif;
  font-size: 18px;
  text-align: center;
  font-style: italic; 
}

#fade {
  font-family: 'Pontano Sans', serif;
  font-size: 18px;
  text-align: center;
  text-justify: auto;
  font-style: italic; 
}

.panel-heading {
  font-family: 'Pontano Sans', serif;
  font-weight: bold;

}

#trainForm {
  font-family: 'Pontano Sans', serif;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}