
.jumbotron {
  font-family: 'Pontano Sans', serif;
  font-size: 48px;
  text-align: center;
  background-position: center;
}

.panel-body {
  font-family: 'Pontano Sans', serif;
  font-size: 18px;
  text-align: center;
  font-style: italic; 
}

.panel-heading {
  font-family: 'Pontano Sans', serif;
  font-weight: bold;

}

#trainForm {
  font-family: 'Pontano Sans', serif;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}